<ion-view view-title="Edit List">
  <ion-nav-buttons side="secondary">
      <button class="button icon ion-trash-a" ng-click="editListCtrl.deleteList(editListCtrl.list);"></button>
  </ion-nav-buttons>
  <ion-content>
    <form ng-submit="editListCtrl.updateList(editListCtrl.editedList)">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Edit List</span>
          <input type="text" placeholder="Edit List" ng-model="editListCtrl.editedList.title">
        </label>
      </div>
      <div class="padding">
          <button type='submit' class="button button-block button-positive">
              Edit
          </button>
      </div>
    </form>
  </ion-content>
</ion-view>